version: '3.8'
services:
  php:
    build: .
    container_name: wemotions_php
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    ports:
      - "8080:8000"   # host 8080 -> container 8000
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: wemotions_mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wemotions
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql

###> doctrine/doctrine-bundle ###
  database:
    image: postgres:${POSTGRES_VERSION:-16}-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-app}
      # You should definitely change the password in production
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
      POSTGRES_USER: ${POSTGRES_USER:-app}
    volumes:
      - database_data:/var/lib/postgresql/data:rw
      # You may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
      # - ./docker/db/data:/var/lib/postgresql/data:rw
###< doctrine/doctrine-bundle ###

volumes:
  db-data:


###> doctrine/doctrine-bundle ###
  database_data:
###< doctrine/doctrine-bundle ###
