# config/services.yaml

parameters:
    uploads_dir: '%env(UPLOADS_DIR)%'

services:
    # default configuration for services in this file
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    App\:
        resource: '../src/*'
        exclude: '../src/{DependencyInjection,Entity,Migrations,Tests,Kernel.php}'
